<li class="py-3">Laura Friedlander -- <a href="/faculty/laura_friedlander.html" title="Laura Friedlander" class="btn btn-sm btn-outline-secondary mx-auto">Bio</a></li>
<li class="py-3">Michelle Lee
<li class="py-3">Cynthia Man*  -- <a href="/faculty/cynthia_man.html" class="btn btn-sm btn-outline-secondary mx-auto">Bio</a></li>
<li class="py-3">Laura Thiele*  -- <a href="/faculty/laura_thiele.html" class="btn btn-sm btn-outline-secondary mx-auto">Bio</a></li>
<li class="text-muted">* denotes a registered Suzuki teacher</li>