<li class="py-3">Bonnie Buhler-Tanouye*  -- <a href="/faculty/bonnie_buhler-tanouye.html" class="btn btn-sm btn-outline-secondary mx-auto">Bio</a></li>
<li class="py-3">Rebecca Swain Chapman* -- <a href="/faculty/rebecca_chapman.html" class="btn btn-sm btn-outline-secondary mx-auto">Bio</a>
<li class="py-3">Lisa Schroeder -- <a href="/faculty/lisa_schroeder.html" class="btn btn-sm btn-outline-secondary mx-auto">Bio</a></li>
<li class="py-3">Nancy Toone* -- <a href="/faculty/nancy_toone.html" class="btn btn-sm btn-outline-secondary mx-auto">Bio</a></li>
<li class="text-muted">* denotes a registered Suzuki teacher</li>