<li class="py-3">Theory Games - Bonnie Buhler-Tanouye*  -- <a href="/faculty/bonnie_buhler-tanouye.html" class="btn btn-sm btn-outline-secondary mx-auto">Bio</a></li>
<li class="py-3">Vocal Workshop - Wendy Osborne  -- <a href="/faculty/wendy_osborne.html" class="btn btn-sm btn-outline-secondary mx-auto">Bio</a></li>
<li class="py-3">Theory Games - Nancy Toone*  -- <a href="/faculty/nancy_toone.html" class="btn btn-sm btn-outline-secondary mx-auto">Bio</a></li>
<li class="py-3">Percussion Ensemble - T.B.A.</li>
<li class="text-muted">* denotes a registered Suzuki teacher</li>