{% if page.bio_page %}
<div class="container mt-5">
  {% include btn-faculty.html %}
</div>
{% endif %}

<div class="container mt-5">
  <div class="bg-light px-3 pt-3 pb-1 mb-3 rounded">
    <p class="dark_text">LVDSI needs your donations to bring quality music education to kids - please help us!</p>
    {% include donate-btn.html %}
  </div>
</div>
      
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; Las Vegas Desert Suzuki Institute, Inc.</p>
  </div>
</footer>