{% capture reg_long %}
<li>Registration fee if paid by March 31 will be <strong>$75</strong> </li>
<li>Registration fee if paid between April 1 &amp; May 31 will be <strong>$85</strong></li>
<li>Registration fee if paid between June 1 &amp; July 1 will be <strong>$95</strong></li>
<li><em>Get ${{ site.reg_sibling_discount }} off registration for siblings with our Sibling Discount</em></li>
{% endcapture %}
{% capture reg_short %}
<li>$75 before April 1</li>
<li>$85 April 1 - May 31</li>
<li>$95 June 1 - July 1</li>
{% endcapture %}
{%- comment -%}
#### 2018 REGISTRATION SCHEDULE AND FEES ####
<li>Registration fee if paid by 4/1/18 will be $25 </li>
<li>Registration fee if paid between 4/2/18 & 5/15/18 will be $50</li>
<li>Registration fee if paid between 5/16/18 & 7/15/18 will be $75</li>
{%- endcomment -%}