---
layout: page
title: 2018 Intro to Music Registration
page_name: reg-intro
---
<div class="container">
  <div class="slogan"> 
    <h1>{{ page.title }}</h1>
  </div>

  <p><span class="firstletter">I</span>ntro to Music Registration form.  Please complete this form to register.  Once you register, the next step is to submit payment.</p>

  <div class="container mb-3">
    <form class="needs-validation" novalidate name="intro-music" netlify-honeypot="bot-field" action="thank_you.html" netlify>
      <p class="d-none">
        <label>It's a trap! <input name="bot-field"></label>
      </p>
      
      <div class="form-group border rounded border-dark p-3">
        <h3 class="slogan text-left">Student Info</h3>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="studentLast">Student Last Name</label>
            <input type="text" class="form-control" id="studentLast" name="studentLast" placeholder="Last name" required>
            <div class="invalid-feedback">
              Please provide the Student's Last name.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="studentFirst">Student First Name</label>
            <input type="text" class="form-control" id="studentFirst" name="studentFirst" placeholder="First name" required>
            <div class="invalid-feedback">
                Please provide the Student's First name.
              </div>
          </div>
        </div><!-- /form-row -->
        
        <div class="form-row">        
          <div class="col-md-6 mb-3">
            <label for="dob">Date of Birth</label>
            <input type="text" class="form-control" id="dob" name="dob" placeholder="MM/DD/YYYY" required>
            <div class="invalid-feedback">
              Please enter Student's valid date of birth.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="gradeLevel">Grade in School 2017-18:</label>
            <select class="custom-select" id="gradeLevel" name="gradeLevel">
              <option value="">Please select a grade</option>
              <option value="Pre-K">Pre-K</option>
              <option value="Kinder">Kinder</option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
            <div class="invalid-feedback">
               Please select a grade.
            </div>
          </div>
        </div><!-- /form-row -->
      </div><!-- /form-group -->
            
      <div class="form-group border rounded border-dark p-3">
        <h3 class="slogan text-left">Parent Info</h3>
        
        {% include form-parent-block.html %}
                
      </div><!-- /form-group -->
      
      <div class="form-group border rounded border-dark p-3">
        <h3 class="slogan text-left">Program Info</h3>
        
        <div class="form-row">        
          <div class="col-md-6 mb-3">
            <label for="tShirt1">T-Shirt Size:</label>
            <select class="custom-select" id="tShirt1" name="tShirt1" required>
              {% include form-dropdown-tshirt.html %}
            </select>
            <div class="invalid-feedback">
               Please select a T-Shirt size.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="tShirt2">Extra T-Shirt (optional):</label>
            <select class="custom-select" id="tShirt2" name="tShirt2">
              {% include form-dropdown-tshirt.html %}
            </select>
            <div class="invalid-feedback">
               Please select a T-Shirt size.
            </div>
          </div>
        </div><!-- /form-row -->
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="enrichment">Extra Paid Enrichment Class (optional):</label>
            <select class="custom-select" id="enrichment" name="enrichment">
              {% include form-dropdown-enrichment.html %}
            </select>
            <div class="invalid-feedback">
               Please select a T-Shirt size.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="accompanying">Name of Accompanying Adult:</label>
            <input type="text" class="form-control" id="accompanying" name="accompanying" placeholder="Name of Accompanying Adult" required>
          </div>
        </div><!-- /form-row -->
        
      </div><!-- /form-group -->
            
      <button class="btn btn-primary" type="submit">Submit Registration</button>
    </form>
    
    {% include form-validation.html %}
    
  </div>
{% include donate-box-2.html %}