---
layout: default
---
<div class="container pt-1">
  <div class="container">
    <div class="slogan"> 
      <h1>Play Music. Explore Creativity. Discover Potential.</h1>
      <p>An innovative week of musical development for students of all ages.</p>
    </div>
    <p class="text-center">Las Vegas Desert Suzuki Institute is a non-profit organization dedicated to enhancing children's music education.  We host biannual music camps for kids and rely on donations to further our goal of delivering quality youth music education - we greatly appreciate your donation!</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 order-lg-last">
        {% include donate-btn.html %}
        <div class="fb-container mb-3 text-center">
          <div class="fb-page"
            data-href="https://www.facebook.com/Las-Vegas-Desert-Suzuki-Institute-402880783129907/"
            data-tabs="timeline"
            data-width="500"
            data-height="500"
            data-small-header="false"
            data-adapt-container-width="true"
            data-hide-cover="false"
            data-show-facepile="true"
          >
            <blockquote cite="https://www.facebook.com/Las-Vegas-Desert-Suzuki-Institute-402880783129907/" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/Las-Vegas-Desert-Suzuki-Institute-402880783129907/">Las Vegas Desert Suzuki Institute</a>
              </blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg-8 order-lg-first">
        <img src="/assets/img/2015Group.jpg" class="img-fluid mx-auto d-block pb-4">
        <p><span class="firstletter">W</span>elcome to the 2018 Las Vegas Desert Suzuki Institute! We invite you to join us as we celebrate our ninth year as a quality music camp.  We welcome all students of Flute, Piano, Violin and Viola as well as teachers seeking to obtain Suzuki book registration.  Students ages 3-6 may join us in their very own &quot;Intro to Music&quot; 1/2-day camp.  The LVDSI student institute runs July 17-19, 2018. Enjoy exploring our website and we look forward to seeing you in July.</p>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="slogan pb-2"> 
    <h3>Music Directors</h3>
  </div> 
  <div class="row justify-content-center">
    <div class="col-sm-4 text-center pb-4">
      <img class="img-fluid img-thumbnail" src="/assets/img/bio-pics/cynthia.jpg" alt="Cynthia">
      <p class="pt-2">Cynthia Man</p>
      <div class="btn-group">
        <a href="#" class="btn btn-outline-secondary mx-auto">Bio</a>
      </div>
    </div>
    
    <div class="col-sm-4 text-center pb-4">
      <img class="img-fluid img-thumbnail" src="/assets/img/bio-pics/bonnie.jpg" alt="Bonnie">
      <p class="pt-2">Bonnie Buhler-Tanouye</p>
      <div class="btn-group">
        <a href="#" class="btn btn-outline-secondary mx-auto">Bio</a>
      </div>
    </div>
  </div>
</div>
