---
layout: page
title: Las Vegas Suzuki Workshop Faculty
page_name: faculty
nav_item: about
---
<div class="container">
  <div class="slogan"> 
    <h1>{{ page.title }}</h1>
  </div>
      <p>The LV Desert Suzuki faculty is comprised of a number of accomplished musicians.  Enjoy getting to know our faculty by viewing their Bios below.  You will agree they are fabulous!</p>
</div>

 <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <div class="slogan">
    <h2>{{ site.year }} Music Program Teachers</h2>
  </div>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center program-card">
    <div class="card mb-4 box-shadow bg-dark">
      <div class="card-header">
        <h3 class="my-0 font-weight-normal">Flute</h3>
      </div>
      <div class="card-body ">
        <ul class="list-unstyled mt-3 mb-4">
          {% include card-faculty-flute.html %}
        </ul>
        <a href="{{ site.flute_reg_url }}" class="btn btn-lg btn-block btn-outline-secondary">Register</a>
      </div>
    </div>
    <div class="card mb-4 box-shadow bg-dark">
      <div class="card-header">
        <h3 class="my-0 font-weight-normal">Intro to Music</h3>
      </div>
      <div class="card-body ">
        <ul class="list-unstyled mt-3 mb-4">
          {% include card-faculty-intro.html %}
        </ul>
        <a href="{{ site.intro_reg_url }}" class="btn btn-lg btn-block btn-outline-secondary">Register</a>
      </div>
    </div>
    <div class="card mb-4 box-shadow bg-dark">
      <div class="card-header">
        <h3 class="my-0 font-weight-normal">Piano</h3>
      </div>
      <div class="card-body ">
        <ul class="list-unstyled mt-3 mb-4">
          {% include card-faculty-piano.html %}
        </ul>
        <a href="{{ site.piano_reg_url }}" class="btn btn-lg btn-block btn-outline-secondary">Register</a>
      </div>
    </div>
    <div class="card mb-4 box-shadow bg-dark">
      <div class="card-header">
        <h3 class="my-0 font-weight-normal">Enrichment</h3>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          {% include card-faculty-enrichment.html %}
        </ul>
        <a href="{{ site.flute_reg_url }}" class="btn btn-lg btn-block btn-outline-secondary">Register</a>
      </div>
    </div>
  </div>